body {
      background-image: url("../images/fondo.png");}
h1,h3{
      font-variant: small-caps;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
  }
h3{
    font-size: 25px;}
.p1 {
   font-size: 20px;
   color: white;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
a:link {
     color: red;
   }
a:visited {
     color: green;
   }
a:hover {
     color: hotpink;
   }
a:active {
     color: blue;
   }

.tg  {
      border-collapse:collapse;
      border-spacing:0;
      border-color:#aabcfe;}
.tg td{
       font-family:Arial, sans-serif;
       font-size:14px;
       padding:10px 5px;
       border-style:solid;
       border-width:1px;
       overflow:hidden;
       word-break:normal;
       border-color:#aabcfe;
       color:#669;
       background-color:#e8edff;
       opacity: 0.95;
       filter: alpha(opacity=95);}
.tg th{
       font-family:Arial, sans-serif;
       font-size:14px;
       font-weight:normal;
       padding:10px 5px;
       border-style:solid;
       border-width:1px;
       overflow:hidden;
       word-break:normal;
       border-color:#aabcfe;
       color:#039;
       background-color:#b9c9fe;}
.tg .tg-0lax{
             text-align:left;
             vertical-align:top}
.footer {
  position: fixed;
  bottom: 0;}
#flotarImagen{
  float:right;
  width: 150px;
  height: 150px;
  margin-left: 15px;
  margin-bottom: 15px;}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:#4CAF50;
  }
