body{
  background-color: lightblue;
  font-family: arial;
}
#ej1,td,tr,th{
  border: 1px solid black;
  background-color: white;
}
th{
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.primera{
  background-color: rgb(153, 204, 255);
  font-weight: bold;
}
#tituloTabla{
  margin-left: 80px;
}
#ej2{
  text-align: center;
  width: 300px;
  border: 1px solid black;
  border-collapse: collapse;
}
#ej2 tr:nth-child(even) {
  background-color: #eee;
}
#ej2 tr:nth-child(odd) {
 background-color: #fff;
}
#codigo{
  margin: 10px;
  background-color: white;
}

#jargon{
  text-align: center;
  text-decoration: underline;
}
#poema{
  font-style: italic;
  font-size: 12px;
}
th{
  border: 1px solid black;
}
p{
  text-align: justify;
  margin: 10px;
  font-size:14px;
}
h2{
  margin: 10px;
  background-color: #409abf;
}
h3{
  margin: 10px;
  background-color: #409abf;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f5f5f;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#4CAF50;
}
